.btn-circle-container {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  border:1px solid;
  text-align: center;
  margin: 0 0 16px;
  transition: 0.3s;
 
  .btn-circle-text {
    border: 0;
    background-color: unset;
    margin: 8px 0;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .16em
  }
}