.track-container{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 5px 0;
  color: #fff;
  align-items: baseline;
  .icon-play{
    height: 27px;
    width: 27px;
    .music-note{

    }
    .play{
      display: none;
    }
    .pause{
      display: none;
    }
    .symboy {
      color: #a9aeac;
      font-size: 20px;
      margin-right: 15px;
    }
  }
  
  .song-name{
    font-size: 20px;
  }
  .artist {
    font-size: 16px;
    color: #a9aeac
  }

  &:hover{
    background-color: #172028;
    .icon-play{
      .music-note{
        display: none;
      }
      .play{
        display: unset;
        color: #fff;
      }
      .pause{
        display: none;
      }
    }
  }
  .duration{
    margin-left: auto;
    color: #a9aeac
  }
}